body {
    background-color: #FFF6E9;


}

h2{
    text-align: center;
    font-family: sans-serif;
    color: #67E59A;
    padding-top: 20px;
}

h3{
  text-align: center;
    font-family: sans-serif;
    color: #40A2E3;
  
}

p{
    text-align: center;
    font-family: sans-serif;
    color: #40A2E3;
    font-weight: bolder;

}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
    
}

.header{
  background-color: #e8eef0;
}

footer{
    background-color: #e8eef0;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: sans-serif;
}



  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e8eef0;
    
  }
  
  li {
    float: left;
    font-family: sans-serif;
    font-weight: bolder;
  }
  
  li a {
    display: block;
    color: #40A2E3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li a:hover {
    background-color: #FFF6E9;
  }