body {
    background-color: #FFF6E9;


}

h1{
    text-align: center;
    font-family: sans-serif;
    color: #40A2E3;
}

p{
    text-align: center;
    font-family: sans-serif;
    color: #FFF6E9;
    font-weight: bolder;

}

img{
    padding-left: 100px;
}

footer{
    background-color: #BBE2EC;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: sans-serif;
}



  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BBE2EC;
    
  }
  
  li {
    float: left;
    font-family: sans-serif;
    font-weight: bolder;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li a:hover {
    background-color: #40A2E3;
  }