html {
  scroll-behavior: smooth;
 }

 a {
  text-decoration: none;
  color: black;
 } 

body {
    background-color: #FFF6E9;


}

* {
  margin: 0;
  padding: 0;
}

.grafer{
  margin-top: 2rem;
}

h2{
    text-align: center;
    font-family: sans-serif;
    color: #67E59A;
    padding-top: 20px;
}

h3{
  text-align: center;
    font-family: sans-serif;
    color: #40A2E3;
  
}

p{
    text-align: center;
    font-family: serif;
    color: #5e5f61;
    

}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
    
}

header{
  background-color: #e8eef0;

}

footer{
    background-color: #e8eef0;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-family: sans-serif;
}



  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e8eef0;
    
  }
  
  li {
    float: left;
    font-family: sans-serif;
    font-weight: bolder;
  
  }
  
  li a {
    display: block;
    color: #40A2E3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
  }
  
  li a:hover {
    background-color: #FFF6E9;
  }

  
  
  

* {
  box-sizing: border-box;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

.content-dp{
  display: flex;
  flex-wrap: wrap;
}




/* Create two equal columns */
.column{
  flex: 50%;
  padding: 20px;
  width:50%;
}

.dp{
  flex: 50%;
  padding: 20px;
  width:70%;
 align-items: center;
}

.btn-container{
  position: relative;
}

.button {
  background-color: #67E59A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  justify-content: center;
  border-radius: 1rem;
}

button{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: #67E59A;
  border-radius: 1rem;
}

.button:hover {
  background-color: #40A2E3;
}

button:hover {
  background-color: #40A2E3;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column{
    flex: 50%;
    padding: 20px;
    max-width: 50%;
  }

 .dp{
  flex: 49%;
    padding: 20px;
    max-width: 100%;
 }

 .button{
  flex: 49%;
    padding: 20px;
    max-width: 100%;
 }

 button{
  flex: 49%;
  
   
 }

}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row{
    flex-direction: column;
    flex: 100%;
    max-width: 100%;
  }

  .content-dp{
    flex-direction: column;
    flex: 100%;
    max-width: 100%;
  }

  .btn-container{
    flex-direction: column;
    flex: 100%;
    max-width: 100%;
  }
}

  





